@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body {
    /* background: #232526;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526); */
    align-items: center;
    flex-direction: column;
    font-family:  'Alegreya SC', ' Open Sans ', 'Libre Baskerville','Baloo Chettan', 'Baloo Bhaina', sans-serif;
    height: 100vh;
    width:100vw;
    text-align:center;
}

nav ul {
    display : flex;
    list-style:none;
    margin:0;
    padding: 0.5em 0;
    justify-content: space-around;
    text-align:center;
    font-family: 'Libre Baskerville';
}

nav li a{
    color:black;
    font-weight:700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}

a{
    font-size: 20px;
    text-decoration: none;
    margin: 15px 0;
}

nav li a:hover{
    opacity:1;
}

h1{
    font-size:2em;
    font-weight:300;
    color:#373d46;
}

p{
    font-weight:100;
    color:#98a0ad;
    font-family: 'Libre Baskerville';
}

p a{
    color:rgba(249,107,142,1);
    font-weight:900;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}

p a:hover{
    opacity:1;
}

h1{
    font-weight:200;
    font-family:'Baloo Chettan';
}

div{
    font-family:'Libre Baskerville';
}

/* /////////////////////////////////Styling Container/////////////////////////// */
/* .container{
    background: #EFF1F7; 
    display:grid;
    width: 100%;
    grid-template-areas:
    "menu"
    "content"
    "footer";
    grid-template-columns: auto;
    grid-template-rows:auto auto 250px;
} */
.container{
    display:flex;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    flex-direction:column;
    /* align-content:center; */
    justify-content:center;
    width: 100vw;  
    height:100vh;
}

/* .info{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:120px;
} */
/* ////////////////////////////////Styling Menu/////////////////////////////////// */
#menu{
    position:absolute;
    top:0px;
    /* justify-content:baseline; */
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100vw;
    height:50px;
    opacity:0.5;
    box-shadow:0 .5rem 0.5rem rgba(0,0,0);
}

.header{
    position:absolute;
    top:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    box-shadow:0 .3rem 1rem black;
}
/* ///////////////////////////////Styling video sections=8//////////////////////////////// */
.about-section{
    position:absolute;
    top:60px;
    width:100%;
    height: 500px;
    border-radius:2px;
    margin: 0 auto;
    margin-bottom:0px;
    text-align: center;
    transition:0.2s ease-in-out;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}

#front-video{
    width:100vw;
    height:500px;
}

.info{
    position: absolute;
    top:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100%;
    color:white;
    opacity:1;
}

.video-overlay{
    position: absolute;
    top:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100%;
    opacity: 0.7;
    transition: .5s ease;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}


.position:hover{
    transform:scale(1.1);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow:0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}

/* ///////////////////////////////Styling Project Section///////////////////////////// */
.modules-section{
    position:absolute;
    top:550px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    background-color:#FFC300;
}

.modules{
    width:100%;
    margin: 0 auto;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
    border-radius:2px;
}

.modules-div {
    position: relative;
    width: 350px;
    padding:10px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 200px;
  }
  
  .ol {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    height: 200px;
    width: 330px;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
  }
  
  .modules-div:hover .ol {
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/*/////////////////////////////Styling Photography section/////////////////////////////////////////////////////////*/
section .media{
    min-width:0;
    margin:5px;
}

/* /////////////////////////////////Styling the Modal////////////////////// */

/*  THE MODAL BACKGROUND */
.modal{
    display:none; /* Hidden by default */
    position:fixed;  /*Stay in place */
    z-index: 1; /*sit on top */
    padding-top: 100px; /*location of the box */
    left:0; 
    top:0;
    width:100%; /* Full wdith */
    height:100%; /* Full height */
    overflow:auto; /* Enable scroll if needed */
    background-color:rgba(0,0,0); /*fallBack color */
    background-color:rgba(0,0,0,0.9); /*Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content{
    margin:auto;
    display:block;
    width:80%;
    max-width:700px;
}

/* CAPTION OF MODAL IMAGE (IMAGE TEXT) - SAME WIDTH AS THE IMAGE  */
#caption{
    margin:auto;
    display:block;
    width:80%;
    max-width:700px;
    text-align:center;
    color:#ccc;
    padding:10px 0;
    height:150px;
}

/* Add Animation */
.modal-content, #caption{
    animation-name:zoom;
    animation-duration:0.6s;
}

@keyframes zoom{
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/*  The Close button */
.close{
    position:absolute;
    top:15px;
    right:35px;
    color:#f1f1f1;
    font-size:40px;
    font-weight:bold;
    transition:0.3s;
}

.close:hover, .close:focus{
    color:#bbb;
    text-decoration:none;
    cursor:pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width:700px){
    .modal-content{
        width:100%;
    }
}

  /* @media(min-width:1049px){
    .container{
        grid-template-areas: 
        "menu content"
        "menu footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;
    }
    nav ul{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .menu{
        background:linear-gradient(
        rgba(249,107,142,1),
        rgba(218,103,142,1),
        rgba(130,125,253,1));
        padding-top:3em;
    }
    #profile-pic{
        width:250px;
        float:right;
    }
     */

     .contact-section{
        position:absolute;
        top:850px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        width:100%;
        height:300px;
        background-color:white;
     }

     #contact1{
         display:flex;
         justify-content:center;
         margin:0 auto;
         width:33%;
         height:100%;
         background-color:grey;
     }
     #contact2{
        display:flex;
        justify-content:center;
        margin:0 auto;
        width:33%;
        height:100%;
        background-color:grey;
    }
    #contact3{
        display:flex;
         justify-content:center;
        margin:0 auto;
        width:33%;
        height:100%;
        background-color:grey;
    }
#amna
{
    border-radius: 50%;
    width: 300px;
    background-image:url("/imgs/furbet.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}